workflow/Lead Intake Pipeline.json
{
  "name": "LOS - Lead Intake Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1L9wkXUoV0sl0l6gHJAulea2Uc1tEmftRixmeXWw2tKg",
          "mode": "list",
          "cachedResultName": "LOS - Lead Intake",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L9wkXUoV0sl0l6gHJAulea2Uc1tEmftRixmeXWw2tKg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1314017823,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L9wkXUoV0sl0l6gHJAulea2Uc1tEmftRixmeXWw2tKg/edit#gid=1314017823"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "85358a56-0b72-43fd-81a1-8e748ad7dd50",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "2h5OtI1JabROojSc",
          "name": "Kripa077 Sheet Trigger"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A",
          "mode": "list",
          "cachedResultName": "LOS - Business Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 974947533,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A/edit#gid=974947533"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead_Name": "={{ $json['Full Name'] }}",
            "Company": "={{ $json['Company Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Phone": "={{ $json['Phone Number '] }}",
            "Lead_Source": "Website",
            "Lead_Status": "New",
            "Created_Date": "={{ $json.Timestamp }}",
            "Converted": "No",
            "Service_Interested": "={{ $json['Which service are you interested in?'] }}",
            "Budget": "={{ $json['Estimated Monthly Budget'] }}",
            "Notes": "={{ $json['Tell us about your requirement'] }}",
            "Lead_ID": "={{ $json.Lead_ID }}",
            "Assigned_To": "={{ $json.Assigned_To }}",
            "Followup_Date": "={{ $json.Followup_Date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Name",
              "displayName": "Lead_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Source",
              "displayName": "Lead_Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Status",
              "displayName": "Lead_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned_To",
              "displayName": "Assigned_To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deal_Value",
              "displayName": "Deal_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followup_Date",
              "displayName": "Followup_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_Date",
              "displayName": "Created_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Converted",
              "displayName": "Converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service_Interested",
              "displayName": "Service_Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        0
      ],
      "id": "49aef3fa-ef0e-4d04-a8cf-0198bda1e79a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1pNsceqorgePBghF",
          "name": "Kripa 077 Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.Email }}",
        "subject": "Thank you for contacting BrightEdge Digital",
        "message": "=<!DOCTYPE html> <html> <head> <meta charset=\"UTF-8\"> </head>  <body style=\"margin:0;padding:0;background:#f4f6f9;font-family:Arial,Helvetica,sans-serif;\">  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f6f9;padding:40px 0;\"> <tr> <td align=\"center\">  <table width=\"650\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;\">  <tr> <td style=\"background:#0F62FE;color:white;padding:25px;font-size:28px;font-weight:bold;text-align:center;\"> BrightEdge Digital </td> </tr>  <tr> <td style=\"padding:35px;\">  <h2 style=\"margin-top:0;color:#333;\"> Hello {{ $json.Lead_Name }}, </h2>  <p style=\"font-size:16px;color:#555;line-height:1.7;\"> Thank you for contacting <strong>BrightEdge Digital</strong>. We have successfully received your inquiry. </p>  <table cellpadding=\"10\" cellspacing=\"0\" width=\"100%\" style=\"border:1px solid #ddd;border-collapse:collapse;margin-top:20px;\">  <tr> <td style=\"background:#f7f7f7;\"><strong>Company</strong></td> <td>{{ $json.Company }}</td> </tr>  <tr> <td style=\"background:#f7f7f7;\"><strong>Service</strong></td> <td>{{ $json.Service_Interested }}</td> </tr>  <tr> <td style=\"background:#f7f7f7;\"><strong>Budget</strong></td> <td>{{ $json.Budget }}</td> </tr>  <tr> <td style=\"background:#f7f7f7;\"><strong>Status</strong></td> <td>{{ $json.Lead_Status }}</td> </tr>  </table>  <p style=\"margin-top:30px;font-size:16px;color:#555;\"> Our sales team will review your requirements and get back to you shortly. </p>  <p style=\"font-size:16px;color:#555;\"> Thank you for choosing BrightEdge Digital. </p>  <p style=\"margin-top:35px;\"> Regards,<br> <strong>Rahul Mehra</strong><br> Sales Executive<br> BrightEdge Digital </p>  </td> </tr>  <tr> <td style=\"background:#f4f6f9;padding:18px;text-align:center;font-size:12px;color:#888;\"> © 2026 BrightEdge Digital • This is an automated acknowledgement email. </td> </tr>  </table>  </td> </tr> </table>  </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        0
      ],
      "id": "f7b8f66c-01aa-4524-a446-2fb11dd4aebb",
      "name": "Send a message",
      "webhookId": "2d919df9-045f-4574-ac2f-64956c4947d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "m5rWWzvXvlM0bk11",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A",
          "mode": "list",
          "cachedResultName": "LOS - Business Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1811452973,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A/edit#gid=1811452973"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Key",
              "lookupValue": "Last_Lead_ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "37c06894-43fb-4230-92e6-fd9917142edb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1pNsceqorgePBghF",
          "name": "Kripa 077 Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastLead = $input.first().json.Value;\n\nconst number = parseInt(lastLead.replace(\"L\", \"\"), 10);\n\nconst nextLeadId = \"L\" + String(number + 1).padStart(4, \"0\");\n\n// Original form submission\nconst form = $('Google Sheets Trigger').first().json;\n\nreturn [\n  {\n    json: {\n      ...form,\n      Lead_ID: nextLeadId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "96ee9f22-1d31-45bc-b329-5b47e9e149b7",
      "name": "Generate Lead ID"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A",
          "mode": "list",
          "cachedResultName": "LOS - Business Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1811452973,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jojZ8TOM9TXCPeNy-ra38vCWFmzxy1np_0guPLmTU0A/edit#gid=1811452973"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Key": "=Last_Lead_ID",
            "Value": "={{ $('Generate Lead ID').first().json.Lead_ID }}"
          },
          "matchingColumns": [
            "Key"
          ],
          "schema": [
            {
              "id": "Key",
              "displayName": "Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Value",
              "displayName": "Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        0
      ],
      "id": "063cca7f-e596-43c6-b15d-e7e52f7758d8",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1pNsceqorgePBghF",
          "name": "Kripa 077 Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nconst service = (lead[\"Which service are you interested in?\"] || \"\").trim();\n\nlet assignedTo = \"\";\n\nswitch (service) {\n  case \"Branding\":\n    assignedTo = \"Rahul Mehra\";\n    break;\n\n  case \"Google Ads\":\n    assignedTo = \"Priya Singh\";\n    break;\n\n  case \"SEO\":\n    assignedTo = \"Amit Verma\";\n    break;\n\n  case \"Website Development\":\n    assignedTo = \"Sneha Kapoor\";\n    break;\n\n  case \"Social Media Management\":\n    assignedTo = \"Jay Verma\";\n    break;\n\n  case \"Meta Ads\":\n    assignedTo = \"Dheeraj Singh\";\n    break;\n\n  default:\n    assignedTo = \"Rahul Mehra\";\n}\n\nreturn [{\n  json: {\n    ...lead,\n    Assigned_To: assignedTo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "c82843d0-0779-45e2-97d9-6021c705e5d4",
      "name": "Assign Salesperson"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\n// Today's date\nconst followup = new Date();\n\n// Add 2 days\nfollowup.setDate(followup.getDate() + 2);\n\n// Format: YYYY-MM-DD\nconst followupDate = followup.toISOString().split(\"T\")[0];\n\nreturn [\n  {\n    json: {\n      ...lead,\n      Followup_Date: followupDate\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "b5aeb2a0-1ea3-4444-84e8-ea7c0032e01a",
      "name": "Followup_Date"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Generate Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Lead ID": {
      "main": [
        [
          {
            "node": "Assign Salesperson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Salesperson": {
      "main": [
        [
          {
            "node": "Followup_Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup_Date": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1a417af1-348b-4948-809a-809a96e6fc23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65bc89ad7d65d86bbff6f862b2f275c6ae54a10bafd0d2b6b3e9d9d52462fbba"
  },
  "id": "QBToxFPPkPilir3D",
  "tags": []
}
